.gameSettingsDivider {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.gameSettingsSlider {
	display: flex;
	flex-direction: column;

	input {
		width: 100%;
	}
}

.spacer {
	margin-top: 1rem;
}

.buttonGroup {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}