.gamingHeader {
	height: 80px;
	background-color: var(--colorBrandBackground2);
	display: flex;
	flex-direction: column;
	align-items: center;

	.gamingQuestion {
		margin-top: var(--spacingVerticalXS);
	}
}

.mapCanvas {
	display: flex;
	height: 100%;
	width: 100%;

	.gamingLeft {
		width: 300px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.gamingRight {
		// width: calc(100% - 300px);
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;

		.mapArea {
			width: 100%;
			height: calc(100% - 2.5rem - var(--spacingVerticalL) - var(--spacingVerticalL));
		}
		.guessButton {
			width: 75%;
			height: 2.5rem;
			margin-top: var(--spacingVerticalL);
			margin-bottom: var(--spacingVerticalL);
			&.animated {
				box-shadow: 0 0 0 0 rgba(17, 94, 163, 0.9);
				animation: pulsing 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
			}
		}
	}
}

.gamingCanvas {
	height: 100%;
	width: 100%;
	overflow: hidden;
}


@keyframes pulsing {
	to {
		box-shadow: 0 0 0 15px rgba(17, 94, 163, 0);
		background-color: var(--colorBrandBackgroundHover);
	}
}