.centerOnPage {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.centerSpaced {
	text-align: center;
	padding-bottom: 1rem;
}

.displayWrapper {
	max-width: 600px;
}

.nameInput {
	width: 360px;
}