.userTable {
	background-color: var(--colorBrandBackground2);
	// box-shadow: 2px 4px 8px rgba(17, 94, 163, 0.60);
	// width: calc(100% - 16px);
}

.userTableHeader {
	background-color: var(--colorBrandBackground);
}

.userTableBody {}

.nowrap {
	display: inline-block;
		word-break: break-word;
}